.ct-loader {
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.ct-label {
    font-size: 12px;
}

.at-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.44);
    border-radius: 1px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.at-card:hover > .card-header {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.at-card .card-height-indicator {
    margin-top: 100%;
}

.at-card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

.at-card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}

.at-card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.at-card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.at-card .category:not([class*="text-"]) {
    color: #999999;
}

.at-card .card-content {
    padding: 15px 20px;
}

.at-card .card-content .category {
    margin-bottom: 0;
}

.at-card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 1px;
    padding: 15px;
    background-color: #999999;
    transition: all .7s ease-out;
}

.at-card .card-header .title {
    color: #FFFFFF;
}

.at-card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.at-card .card-header.card-chart {
    padding: 0;
    min-height: 160px;
}

.at-card .card-header.card-chart + .content h4 {
    margin-top: 0;
}

.at-card .card-header .ct-label {
    color: rgba(255, 255, 255, 0.7);
}

.at-card .card-header .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

.at-card .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}

.at-card .chart-title h3 {
    margin: 0;
    color: #FFFFFF;
}

.at-card .chart-title h6 {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.at-card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.at-card .card-footer .content {
    display: block;
}

.at-card .card-footer div {
    display: inline-block;
}

.at-card .card-footer .author {
    color: #999999;
}

.at-card .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.at-card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.at-card .card-footer h6 {
    color: #999999;
}

.at-card img {
    width: 100%;
    height: auto;
}

.at-card .table {
    margin-bottom: 0;
}

.at-card .table tr:first-child td {
    border-top: none;
}

.at-card-stats .title {
    margin: 0;
}

.at-card-stats .card-header {
    float: left;
    text-align: center;
}

.at-card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.at-card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}